# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# OS specific files
.DS_Store
Thumbs.db

# Database
wallet.db
*.db
*.sqlite
*.sqlite3

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Environments
.env

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
